textarea {
    width: 99%;
    padding: 2px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button {
    width: 46%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 90%;
    }
  }